*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    color: #404040;;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 290px 1fr;
    grid-template-rows: 1fr;
}
.menu-container{
    display: flex;
    flex-direction: column;
    background-color:rgb(46,46,51);
    border-radius: 8px 0px 0px 8px;
    padding: 0px 10px;
    overflow: auto;
}
.menu-container::-webkit-scrollbar {
    width: 6px;
}
.menu-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8b8a8a;
}
.menu-subdv1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
}
.subdv-header{
    position: sticky;
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: rgb(46,46,51);
    z-index: 1;
}
.menuheader-leftdv{
    display: flex;
    width: auto;
    height: 100%;
    padding-left: 5px;
}
.logo-icon{
    display: flex;
    width: 30px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.logo-outerdv{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgb(112,209,220);
    border-radius: 4px;
    align-items: flex-end;
}
.logo-innerdv{
    width: 10px;
    height: 10px;
    background-color: rgb(211,243,250);
    border-radius: 0px 0px 0px 4px
}
.logo-name{
    display: flex;
    min-width: 20px;
    height: 100%;
    font-weight: bold;
    align-items: center;
    color: #fff;
    padding: 0px 5px;
    font-size: 14px;
}
.logo-dropicon{
    display: flex;
    width: 16px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.headericon-dv{
    display: flex;
}
.cancel-menu{
    width: 30px;
    height: 30px;
    display: none; 
    padding: 0;
}
.notification-icon,.cancel-icon{
    width: 30px;
    height: 30px;
    background-image: url(../Images/bell.png);
    background-repeat: no-repeat;
    background-size: 16px 17px;
    background-position: 5px 6px;
    cursor: pointer;
}
.cancel-icon{
    background-image: url(../Images/close.png);
    background-size: 13px 13px;
    background-position: 8px 9px;    
}
.menu-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    justify-content: space-between;
    gap: 40px;
}
.search-container,.document-dv{
    display: flex;
    width: 100%;
    height: 35px;
    background-color: rgb(55,56,62);
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
}
.search-icon,.add-icon{
    width: 25px;
    height: 25px;
    background-image: url(../Images/magnifier.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 4px 4px;
}
#txt-iput{
    height: 27px;
    flex-grow: 1;
    font-size: 13px;
    background-color: transparent;
    border: none;
    outline: none;   
    color: #fff;
    padding-left: 4px;
}
#txt-iput::placeholder{
    color: #fff;
    font-weight: bold;
}
.document-dv{
    background-color: rgb(76,100,214);
    margin-top: 7px;
}
.add-icon{
   background-image: url(../Images/plus-sign.png);
   background-position: 5px 4px;
}
.document-txt,.favorite-content{
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.Favorite-dv{
    display: flex;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}
.favorite-icon{
    width: 30px;
    height: 100%;
    background-image: url(../Images/star2.png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 7px 11px;
}
.favorite-content{
    padding-left: 10px;
}
.menu-dropdv{
    width: 100%;
    min-height: 30px;
    /* background-color:yellow; */
}
 label,.sub-lable{
    display: inline-flex;
    width: 100%;
    height: 35px;
    /* background-color:teal; */
    padding-left: 11px;
    cursor: pointer;
}
#menu-drop,#menu-drop1,#catch-up,#show-menu,#cancel-dv{
    display:none;
}
.right-dropicon,.down-dropicon,.dropicon1,.dropicon2,.dropicon3,.dropicon4{
    width: 17px;
    /* background-color: violet; */
    background-image: url(../Images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: 7px 10px;
    background-position: 0px 14px;
}
.down-dropicon,.dropicon4,#menu-drop:checked + label span:first-child{
    background-image: url(../Images/down-arrow.png);
    background-size: 8px 7px;
}
.user-icon,.user-icon1,#menupin-icon,.book-icon,.fire-icon,.project-icon,
.message-icon,.sublabel-icon{
    width: 20px;
    /* background-color: #b9b992; */
    background-image: url(../Images/user.png);
    background-repeat: no-repeat;
    background-size: 15px 16px;
    background-position: 1px 10px;    
}
.user-icon1{
    background-image: url(../Images/notes.png);
}
.fire-icon{
    background-image: url(../Images/fire.png);
}
.message-icon{
    background-image: url(../Images/chat.png);
}
.sublabel-icon{
    background-image: url(../Images/document.png);
    background-size: 13px 13px;
    background-position: 1px 12px;
}
.book-icon{
    background-image: url(../Images/book.png);
    background-size: 14px 16px;
}
.project-icon{
    background-image: url(../Images/flag.png);
}
.drop-content{
    min-width: 80px;
    /* background-color: yellowgreen; */
    padding-left: 2px;
    font-weight: bold;
    line-height: 37px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #fff;
}
#menu,#menu1{
    padding-left: 20px;
    list-style: none;    
}
#menu1{
    padding-left: 11px;
}
#menupin-icon{
    background-image: url(../Images/push-pin.png);
}
#sub-lable,.sub-lable2{
    padding-left: 25px;
    border-radius: 5px;
}
.lable-colour{
    background-color: rgb(91,93,103);
}
#menu-drop:checked ~ #menu-drop,#menu-drop1:checked ~ #menu,#catch-up:checked ~ #menu1{
    height: 0px;
    overflow: hidden;
}
 #catch-up:checked + label span:first-child,#menu-drop1:checked + label span:first-child{
     background-image: url(../Images/right-arrow.png);
}
.channel-dv{
    display: flex;
    width: 100%;
    height: 35px;
    /* background-color: darkgoldenrod; */
    align-items: center;
    justify-content: space-between;
}
.channel-content{
    display: flex;
    height: 100%;
    font-size: 14px;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-left: 11px;
}
.channel-content span{
    font-weight: normal;
    padding-left: 5px;
    color: #918f8f;
}
.channnel-icon{
    width: 28px;
    height: 28px;
    background-image: url(../Images/add-document.png);
    background-repeat: no-repeat;
    background-size: 19px 21px;
    background-position: 3px 4px;
}
.menu-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50px;
    gap:10px;
    padding-bottom: 10px;
}
.contact,.template,.archive{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    padding-left: 8px;
    gap: 5px;
}
.contact-icon,.template-icon,.archive-icon{
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    background-image: url(../Images/download.png);
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: 5px 7px;
}
.archive-icon{
    background-image: url(../Images/archive.png);
}
.template-icon{
    display: flex;
    background-image: none;
    align-items: center;
    justify-content: center;
}
.dot-dv{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    transform: rotate(44deg);
}
.dot-subdv{
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
}
.contact-content,.template-content,.archive-content{
    display: flex;
    min-width: 100px;
    height: 25px;
    font-weight: bold;
    color: #fff;
    align-items: center;
    font-size: 14px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
    overflow: auto;
}
.header{
    position: sticky;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    top: 0;
    background-color: white;
    box-shadow: 0px -1px 0px 0px #ebe7e7 inset;
    z-index: 2;
}
.directing-container{
    display: flex;
    width: auto;
    height: 100%;
    justify-content: space-between;   
}
#menu-lable,.menu-icon{
    width: 35px;    
    display: none;
    padding: 0;
}
.menu-icon{
    background-image: url(../Images/menu.png);
    background-repeat: no-repeat;
    background-size: 19px 20px;
    background-position: 6px 13px;
}
.navigation-dv{
    display: flex;
    width: 50px;
    height: 100%; 
}
.nav-backword,.nav-forward{
    display: flex;
    width: 25px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #8f8f8f;
}
.path-container{
   display: flex;
    width:auto;
    height: 100%;
    align-items: center;
    padding-left: 7px;
}
.link,.link2{
    padding-right: 3px;
    text-decoration: none;
    font-size: 13px;
    color: #838383;;
}
.slach{
    padding-top: 2px;
    color: #8f8f8f;
}
.path2{
    display: flex;
    /* background-color: orange; */
    align-items: center;
}
#message-icon{
    width: 18px;
    height: 25px;
    background-image: url(../Images/messenger.png);
    background-size: 12px 11px;
    background-repeat: no-repeat;
    background-position: 3px 6px;
    margin-left: 2px;
}
.link2{
    padding-left: 3px;
}
.header-rightdv{
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 4px;
}
.icon-dv{
    display: flex;
    min-width:30px;
    height: 100%;
    align-items: center;
    gap: 2px;
}
.chat-icon,.hand-symbol,.star-icon,.more-icon{
    width: 30px;
    height: 30px;
    background-image: url(../Images/chat.svg);
    background-repeat: no-repeat;
    background-size: 34px 37px;
    background-position: -4px -4px;
}
.aligntext-icon{
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.dash1,.dash2{
    width: 14px;
    height: 2px;
    background-color: #a1a1a1;
}
.dash2{
    margin-left: 4px;
}
.hand-symbol{
    background-image: url(../Images/hello.png);
    background-size: 16px 18px;
    background-position: 6px 6px;
}
.star-icon{
    background-image: url(../Images/star.png);
    background-size: 16px 17px;
    background-position: 5px 6px;
}
.share-btn{
    display: flex;
    width: 54px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: grey;
    background-color: rgb(246,246,247);
}
.more-icon{
    background-image: url(../Images/option.png);
    background-size: 20px 24px;
    background-position: 7px 4px;
}
.main-page{
    display: grid;
    /* background-color:lightseagreen; */
    grid-template-columns: 1fr 45px;
    grid-template-rows: 1fr;
}
.main-leftPage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
    /* background-color: mediumseagreen; */
}
.leftpage-header{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    background-color: #fff;
    padding-left: 10px;
}
.minimize-icon{
    width: 35px;
    height: 35px;
    background-image: url(../Images/minimize.png);
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 6px 7px;
}
.leftpage-body{
    padding-bottom: 95px;
}
.body-content{
    max-width: 63%;
    height: 100%;
    /* background-color: pink; */
    margin: auto;
}
.content-dv1{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 30px;
    padding-left: 57px;
    padding-top: 10px;
    gap: 20px;
}
.content-dv1 h1{
    font-size: 40px;
    color: rgb(69,68,81);
}
.user-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 12px;
    gap: 6px;
    box-shadow: 3px 0px 0px 0px #efefef inset;
    margin-left: 3px;
}
.detail1,.detail2{
    width: 100%;
}
.uniqe{
    font-weight: bold;
    color: rgb(69,68,81);
}
.txt-link{
    color: blue;
    text-decoration: none;
    background: rgb(244,246,255);
    padding: 4px 4px;
    line-height: 16px;
    border-radius: 4px;
}
.content-dv2{
    width: 100%;
    min-height: 20px;
    padding-left: 57px;
    padding-top: 20px;
}
.Agenda-dv{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}
.board-icon{
    width: 27px;
    height: 30px;
    background-image: url(../Images/target.png);
    background-repeat: no-repeat;
    background-size: 19px 16px;
    background-position: 0px 6px;
}
.board-content h2,.notes-content h3,.outcome-content h3,.action-content h3{
    font-size: 19px;
    color: rgb(69,68,81);
}
.content-dv3{
    display: grid;
    width: 100%;
    min-height: 30px;
    /* background-color: yellow; */
    grid-template-columns: 57px 1fr;
    grid-template-rows: 1fr;
    padding-top: 10px;
}
.update-dv{
    display: flex;
    width: 100%;
    padding-top: 10px;
    align-items: center;
    gap: 5px
}
.tick{
    display: flex;
    width: 23px;
    height: 23px;
    align-items: center;
}
.profile-icons{
    display: flex;
    width: 100%;
    padding-top: 27px;
}
.profile1,.profile2,.hiring-userIcon,.customer-icon1,.customer-icon2,.customer-icon3{
    width: 26px;
    height: 26px;
    background-image: url(../Images/profile1.png);  
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;  
}
.hiring-userIcon{
    background-image: url(../Images/girl.png);
}
.profile1{
    margin-right: -7px;
    background-image: url(../Images/profile.png);  
    z-index: 1;
}
#form-list{
    padding-top: 4px;
}
.form-group{
    display: flex;
    align-items: center;
    padding: 4px 0px;
}
.lable-txt{
    padding-left: 14px;
}
input[type = checkbox]{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #c3c3c3;
    border-radius: 3px; 
    cursor: pointer;   
}
input[type = checkbox]:checked{
    appearance: auto;
}
.notes-dv{
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 10px;
}
.note-icon{
    width: 25px;
    height: 25px;
    background-image: url(../Images/notepad.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 1px 3px;
}
.notes-content,.outcome-content,.action-content{
    padding-left: 4px;
}
.hiring-user{
    display: flex;
    width: 100%;
    min-height: 20px;
    justify-content: flex-end;
    padding-right: 18px;
}
.hiring-content{
    display: flex;
    width: 100%;
    min-height: 20px;
    padding-left: 32px;
    align-items: center;
}
.content-dv4{
    width: 100%;
    grid-column: 2;
}
.outcome-dv{
    display: flex;
    width: 100%;
    min-height: 20px;    
    padding-top: 20px;
    align-items: flex-end;
}
.pin-icon,.action-item{
    width: 25px;
    height: 25px;
    background-image: url(../Images/push-pin.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;   
    background-position: 6px 2px;
}
.para1{
    padding-top: 12px;
    padding-left: 6px;
    font-size: 15px;
    color: #c7c7c7;
}
.action-dv{
    display: flex;
    width: 100%;
    min-height: 20px;
    align-items: flex-end;
    padding-top: 35px;
}
.action-item{
    background-image: url(../Images/checkbox.png);
    background-position: 4px 5px;
}
.main-rightPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.customer-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 130px;
    align-items: center;
    padding-top: 16px;
    gap: 13px;
}
.customer-icon2{
    background-image: url(../Images/profile.png);
}
.customer-icon3{
    background-image: url(../Images/girl.png);
}
.footer-icon{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}
.circle-icon,.Question-icon{
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 5px 6px;
    align-items: center;
    justify-content: center;
}
.circle1,.circle2{
    width: 13px;
    height: 13px;
    background-color:grey;
    border-radius: 10px;
}
.circle1{
    background-color:lightgray ;
    margin-bottom: -8px;
    margin-left: -8px;
    z-index: 1;
}
.Question-icon{
    background-image: url(../Images/question.png);

}
@media screen and (max-width : 945px) {
    .body-content{
        max-width: 65%;
    }
    .hiring-content{
        line-height: 20px;
        padding-top: 5px;
    }
}
@media screen and (max-width : 895px) {
    .container{
        grid-template-columns:1fr
    }
    .menu-container{
        display: none;
        height: 100vh;
    }
    .menu-icon,.cancel-icon{
        display: block;
    }
    #menu-lable,.cancel-menu{
        display: flex;
    }
   #show-menu:not(:checked) + .menu-container{
        display: flex;
        position: fixed;
        z-index: 3;        
    }
    #show-menu:checked + .menu-container{
        display: none;
    }
}
@media screen and (max-width : 695px) {
    .body-content{
        max-width: 73%;
    }
}
@media screen and (max-width : 650px) {
    .container,.main-container{
        width: 650px;
    }
    .main-container{
       overflow: initial;
    }
    .body-content{
        max-width: 80%;
    }
    .menu-container{
        height: 100%;
    }
}
@media screen and (max-width : 425px) {
    .body-content{
        max-width: 85%;
    }
}