*{
      margin:0;
      padding:0;      
      font-family:sans-serif;
    }
    body{
     background-color:rgb(243,245,246);
    }
   .Header{
   	  width:100%;
   	  height:55px;
   	  background-color:black;
   	  display:flex;
      position:fixed;
      top: 0;
      z-index:1;
   }
   .logos{
   	 width: 108px;
     height: 50px;
     display: flex;
     padding-left:125px;
   }
   .logo1{
   	  width: 25px;
      height: 15px;
      background-image: url(icons.png);
      background-position: -38px -22px;
      background-size: 139px;
      margin-top: 17px;
   }
   .logo2{
   	 width: 51px;
     height: 17px;
     background-image: url(icons.png);
     background-position: 0px -251px;
     background-size: 184px;
     transform: scale(1.5);
     margin-left: 16px;
     margin-top: 15px;
   }
    ul{
   	 width:35%;
   	 list-style:none;
   	 line-height: 53px;
     font-size: 15px;
     color:white;
     padding-left:18px;	 
   }
   li{
   	 display:inline;
   	 padding:15px;
       cursor : pointer
   }
   .tooltip1{
   	  width: 125px;
      height:200px;
      background-color: white;
      margin-left: 8px;
      border:1px solid #e0e0e0;
      padding-left:10px;
      position:absolute;
      border-radius:4px;
      display:none;
   }
   .tooltip1 p{
   	  line-height:25px;
   	  color:#3c3c3c;
   }
   .tooltip1::after,.tooltip2::after{
   	  content: "";
      position: absolute;
      top:-16px;
      left:4px;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 18px solid white;
   }
   span:hover ~ .tooltip1,.tool:hover ~ .tooltip2{
   	   display:block;
   }
   .tooltip2{
   	  width: 125px;
      height: 83px;
      background-color:white;
      border:1px solid #e0e0e0;
      margin-left: 92px;
      line-height: 30px;
      padding-left: 10px;
      position:absolute;
      color:#3c3c3c;
      display:none;
      border-radius:4px;
    }   
    .icon1:hover,.word:hover,.Header li:hover,.logos:hover{
       opacity:0.8;
   }
   .word{
   	  width:71px;
   	  height:50px;
      margin-left:16px;
      cursor:pointer
   }
   .word p {
   	  line-height:60px;
   	  color:white;
   }
   .icon1{
   	  width:32px;
   	  height:30px;
   	  margin-left:19px;
   	  margin-top:15px;
   	  background-image:url(icons.png);
   	  background-position: 146px -445px;
         cursor:pointer
   }
   .box2{
   	  width:205px;
   	  height:35px;
   	  background-color:rgba(210,210,211,1);
   	  margin-top:10px;
   	  display:flex;
   	  border-radius:5px;   
   }
   .search{
   	 width: 24px;
     height: 20px;
     background-image: url(icons.png);
     background-position: 244px -192px;
     margin-top: 8px;
     margin-left: 4px;
     transform: scale(1.1);
   }   
   input{
     width: 174px;
     height: 30px;
     border: none;
     background-color:rgba(210,210,211,1);
     margin-top:3px; 
   } 
   input[type="button"]{
      width: 100px;
      margin-top: 15px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 15px;
      background-color:rgb(17,143,220);
      color:white;
      cursor:pointer
   } 
   input[type = "text"]:focus-visible{
       outline: none;
   } 
   .subheader{
   	  width:100%;
   	  height:50px;
   	  background-color:white;
   	  display:flex;
      margin-top: 55px;
      position: fixed;
      top: 0; 
   	  border-bottom:1px solid #e0e0e0;
    }   
   .menu{
   	 width: 53px;
     height: 30px;
     display:flex;
     margin-right: 103px;
     margin-top: 9px;
     cursor:pointer
   }
   .menu p{   	 
   	 line-height:30px;
   	 color:#464545;
   }
   .menu-icon{
   	 width: 15px;
     height: 6px;
     background-image: url(icons.png);
     background-position: 33px -113px;
     margin-top: 11px;
   }
   .subheader ul{
   	  width:75%;
   	  padding-left:130px;
   	  color:#545454;
   	  font-size:17px;
   	  font-weight:100;
   	  font-family: 'Noto Sans SC', sans-serif;
   }
   .subheader li{
      padding:11px;
   }
   .subheader li:first-child,.subheader li:hover{
      border-bottom:3px solid rgb(17,143,220);
   }
   .slide{
   	  width:80%;
   	  height:50px;
   	  background-color:rgb(243,245,246);;
   	  margin:auto;
   	  display:flex;
   	  padding-top:15px;
      margin-top:106px;
   }
   .mode{
   	   width:100%;
   	   height:50px;
   } 
   .mode p{
   	  font-family: 'Noto Sans SC', sans-serif;
   	  line-height:50px;
   	  font-size:25px;
   }  
   .mode1{
   	  width:16%;
   	  height:50px;
   	  display:flex;
   }
   .icon2{
   	  width: 34px;
      height: 23px;
      background-image: url(icons.png);
      background-position: 65px -441px;
      margin-top: 16px;
   }   
   .icon3{
   	 width: 20px;
     height: 20px;     
     background-image: url(icons.png);
     background-position: 369px -474px;
     margin-top: 16px;
     margin-right:15px;
   } 
   .icon4{
   	  width: 18px;
      height: 19px;      
      background-image: url(icons.png);
      background-position: 388px -511px;
      margin-top: 18px;
   }
   .word1{
   	  width:42%;
   	  height:50px;
     }  
   .word1 p{
   	  line-height:55px;
   }
   .container{
   	  width:80%;
   	  height:100%;  
   	  overflow-y:auto; 	  
   	  margin:auto;
   	  display:grid;
   	  grid-template-columns: repeat(30,1fr);
      grid-template-rows:repeat(17,300px);
   	  grid-gap:4px;
   }
   .flip1,.flip2{      	  
   	  background-image:url(night.jpg);
   	  background-size:cover;
   	  grid-column:1/span 17;
   }
   .flip2{
   	  background-image:url(bulding.jpg);
   	  grid-column:18/span 14;
   }
   .flip3,.flip4,.flip5{
   	  background-image:url(coconut.jpg);
   	  background-size:cover;
      grid-column: 1/span 6;
   }
   .flip4{
   	  background-image:url(mountain.jpg);
   	  grid-column: 7/span 13;
   }
   .flip5{
   	  background-image:url(bird.jpg);
   	  grid-column: 20/span 12;
   }
   .flip6,.flip7,.flip8,.flip9,.flip10,.flip11{
   	  background-image:url(space.jpg);
   	  background-size:cover;
      grid-column: 1/span 7;
   }
   .flip7{   	  
   	  background-image:url(sea.jpg);
      grid-column: 8/span 16;
   }
   .flip8{
      background-image:url(room.jpg);
      grid-column: 24/ span 8;
   }
   .flip9{    
     background-image:url(bridge.jpg);
     grid-column: 1/span 8;
   }
   .flip10{
      background-image:url(dog.jpg);
      grid-column: 9/span 13;
   }
   .flip11{
      background-image:url(sky.jpg);
      grid-column: 22/span 10;
   }
   .flip12,.flip13,.flip14{
      background-image:url(exlarator.jpg);
      background-size:cover;
      grid-column: 1/span 14;
   }
   .flip13{
       background-image:url(street.jpg);
       grid-column: 15/span 8;
   }
   .flip14{
      background-image:url(net.jpg);
      grid-column: 23/span 9;
   }
   .flip15,.flip16,.flip17,.flip18{
      background-image:url(lilly.jpg);
      background-size:cover;
      grid-column: 1/span 7;
   }
   .flip16{
     background-image:url(evening.jpg);
     grid-column: 8/span 10;
   }
   .flip17{
      background-image:url(flower.jpg);
      grid-column: 18/span 7;
   }
   .flip18{
      background-image:url(lake.jpg);
      grid-column: 25/span 7;
   }
   .flip19,.flip20,.flip21,.flip22,.flip23,.flip24{
      background-image:url(old-house.jpg);
      background-size:cover;
      grid-column: 1/span 13;
   }
   .flip20{
     background-image:url(way.jpg);
     grid-column: 14/span 9;
   }
   .flip21{
      background-image:url(windmill.jpg);
      grid-column: 23/span 9;     
   }
   .flip22{
      background-image:url(fly.jpg);
      grid-column: 1/span 10;
   }
   .flip23{
      background-image:url(skymountain.jpg);
      grid-column: 11/span 10;
    }
    .flip24{
        background-image:url(surfing.jpg);
        grid-column: 21/span 11;
    }
    .flip25,.flip26,.flip27,.flip28,.flip29,.flip30{
        background-image:url(ring.jpg);
        background-size:cover;
        grid-column: 1/span 14;
    }
    .flip26{
        background-image:url(forest.jpg);
        grid-column: 15/span 8;
    }
    .flip27{
        background-image:url(grass.jpg);
        grid-column: 23/span 9;
    }
    .flip28{
        background-image:url(water.jpg);
    }
    .flip29{
        background-image:url(rocket.jpg);
        grid-column: 15/span 10;
    }
    .flip30{
        background-image:url(forest.jpg);
        grid-column: 25/span 7;
    }
    .flip31,.flip32,.flip33,.flip34,.flip35,.flip36{
        background-image:url(rocks.jpg);
        background-size:cover;
        grid-column: 1/span 9;
    }
    .flip32{
        background-image:url(seawater.jpg); 
        grid-column: 10/span 13;       
    }
    .flip33{
        background-image:url(butterfly.jpg);
        grid-column: 23/span 9;
    }
    .flip34{
       background-image:url(snow.jpg);
       grid-column: 1/span 11;
    }
    .flip35{
        background-image:url(snow-mountain.jpg);
        grid-column: 12/span 10;
    }
    .flip36{
        background-image:url(evening-sky.jpg);
        grid-column: 22/span 10;
    }
    .flip37,.flip38,.flip39,.flip40,.flip41,.flip42{
       background-image:url(home.jpg);
       background-size:cover;
       grid-column: 1/span 12;
    }
    .flip38{
       background-image:url(lake-water.jpg);
       grid-column: 13/span 8;
    }
    .flip39{
      background-image:url(squarell.jpg);
      grid-column: 21/span 11;
    }
    .flip40{
        background-image:url(kingfisher.jpg);
        grid-column: 1/span 10;
    }
    .flip41{
       background-image:url(humming.jpg);
       grid-column: 11/span 11;
    }
    .flip42{
       background-image:url(dark.jpg);
       grid-column: 22/span 10;
    }
    .flip43,.flip44,.flip45,.flip46,.flip47,.flip48{
       background-image:url(falls.jpg);
       background-size:cover;
       grid-column: 1/span 9;
    }
    .flip44{
       background-image:url(car.jpg);
       grid-column: 10/span 8;
    }
    .flip45{
       background-image:url(surffing-board.jpg);
       grid-column: 18/span 14;      
    }
    .flip46{
       background-image:url(river.jpg);
       grid-column: 1/span 11;
    }
    .flip47{
       background-image:url(mirror.jpg);
       grid-column: 12/span 9;
    }
    .flip48{
       background-image:url(piller.jpg);
       grid-column: 21/span 11;
    }
    .flip49,.flip50,.flip51{
       background-image:url(field.jpg);
       background-size:cover;
       grid-column: 1/span 10;
    }
    .flip50{
       background-image:url(wheel.jpg);
       grid-column: 11/span 21;
    }
    .subcontainer{
       width:80%;
       height:60px;
       display:flex;
       margin:auto;
       justify-content: space-evenly;
       padding-top:18px;
       padding-bottom:52px;
    }
    .box3,.box5{
       width:157px;
       height:40px;
       background-color:rgb(17,143,220);
       margin-top: 15px;
       display:flex;
       text-align:center;
       line-height:38px;
       border-radius:5px;
    }
    .box5{
       background-color:rgb(221,221,221);
    } 
    .box5 p{
       padding-left:14px;
       font-size: 18px;
       color:grey;
    }
    .box3 p{
      padding-left: 11px;
      font-size: 18px;
      font-weight: bold;
      color:white;
    }
    .box4 p{
       font-size:18px;
       color:rgb(17,143,220);
    }

     .box4{
       width:165px;
       height:40px;
        border:2px solid rgb(17,143,220);
       margin-top: 14px;
       text-align:center;
       line-height:38px;
       border-radius:5px;
     }  
    .icon5{
      width: 17px;
      height: 27px;
      background-image: url(icons.png);
      background-position: 356px -51px;
      background-size: 290px;
      margin-top:5px;
    }
    .icon6{
       width: 17px;
      height: 27px;
      background-image: url(icons.png);
      background-position: 356px -25px;
      background-size: 290px;
      margin-top:5px;
      margin-left:16px;
    }
    .Footer{
       width:100%;
       height:100px;
       background-color:black;       
    }
    .wave{
       padding-left:0;
    }
    .list ul{
        width:99%;
        height:40px;
        padding:0;       
    }
    .list li{
      padding-left:37px;
    }
    .list{
       width:80%;
       height:50px;
       margin:auto; 
       display:flex;      
    }
    .menu-icon1{
      width: 17px;
      height: 7px;
      margin-top: 23px;
      background-image: url(icons.png);
      background-position: 34px -85px;
      transform: scale(1.5);
      margin-right: 7px;
      }
      .footerdiv{
         width:80%;
         height:50px;
         display:flex;
         margin:auto;
         border-top:1px solid white;
      }
      .footerdiv ul{
          width:28%;
          color:grey;
      }
      .icons{
        width: 18%;
        height: 50px;
        display: flex;
        padding-left: 83px;

      }
      .icon7,.icon8,.icon9{
         width:25px;
         height:24px;
         margin-left:38px;
         margin-top: 11px;
         transform: scale(1.2);
         opacity:0.4;
      }
      .icon7:hover,.icon8:hover:hover,.icon9:hover{
         opacity:1;
      }
      .icon7{
         background-image:url(icons.png);
        background-position: 87px -198px;
        color:grey;
      }
      .icon8{
         height:22px;
         background-image:url(icons.png);
       background-position: 87px -109px;
      }
      .icon9{
        height:22px;
         background-image:url(icons.png);
        background-position: 87px -221px;
      }
      .para{
         width:44%;
         text-align:center;
      }
      .para p{
         line-height:48px;
         color:grey;
      }
      .para p:hover,.footerdiv li:hover{
         color:white;         
      }  
      .slope,.slide-icon,.search-icon{
          display:none;
      } 
       @media screen and (max-width:1100px){
         .list li{
           padding-left:15px;
         }
         .footerdiv ul{
            width:36%;
         }
         .para p{
            font-size:12px;
         }
         .icon7,.icon8,.icon9{
            margin-left:23px;
         }
      }     
      @media screen and (max-width:980px){   
        .Header{
            width:100%;
            height:55px;
        }     
        .box2,.icon1,.cover,.Header ul,.word{
          display:none;
        }
        .container{
            grid-template-rows:repeat(50,520px);
        }
        .Tip{
          grid-column:1/span 30;
        }
        .logos{
          width: 454px;
          height: 31px;
          padding-left: 70px;
          transform: scale(1.3);
          margin-top: 6px;
        }
        .box1{
           width:144px;
           height:39px; 
           margin-top:18px;
        }
        .box1 p{
           font-size: 20px;
           line-height:37px;
        }
        .subheader{
            height:50px;
            margin-top:55px;
            z-index:1;
        }
        .subheader ul{
            width:65%;
            font-size:25px;
            line-height:57px;
        }
        .subheader li{
          padding: 13px;
          padding-bottom: 2px;
        }
        .menu{
          width:106px;
          margin-top:13px;
        }
        .menu-icon,.icon2,.icon3,.icon4{
            transform:scale(1.5);
        }
        .icon4{
          margin-left:20px;
        }
        .word1{
           margin-left:20px;
        }
        .word1 p{
            font-size: 21px;
        }
        .menu p{
           width: 64px;
          font-size: 26px;
          margin-left: 25px;
        }
        .slide{
          height:70px;
          margin-top:105px;
        }
        .subcontainer{
            height:130px;
            display:inherit;
        }
        .mode{
          width: 70%;
          height: 78px;
        }
        .mode p{
           font-size: 41px;
           line-height:65px;
        }
        .mode1{
          width: 25%;
          margin-top: 10px;
          margin-left: 32px;
        }

        .box3,.box4,.box5{
            width:100%;
        }
        .box3 p{
            width:93%;
        }
        .box5 p{
            width:89%;
            padding-left:6%;
        }
        .Footer{
            height:527px;
        }
        .list{
            width:95%;
            height:205px;
        }
        .list ul,.footerdiv ul{
           width:41%;
           display:grid;
           grid-template-columns: 380px 132px;
        }
        .list li,.footerdiv li{
           padding:0;
           line-height:47px;
           font-size:19px;
        }
        .menu-icon1{
            margin-top:160px;
            margin-left:65px;
        }        
        .slope,.slide-icon,.search-icon{
          display:block;
        }
        
        .slide-icon{
            font-size: 45px;
            margin-left: 16px;
           line-height: 1;
           color: white;
           margin-top:10px;
        }
        .search-icon{
           width: 30px;
           height: 22px;
           background-image: url(icons.png);
           background-position: 90px -305px;
           margin-top: 20px;
           margin-left: 55px;
           margin-right:66px;
           transform: scale(1.8);
        }
        .slide-icon p{
          width: 68px;
          height: 52px;
          font-size: 50px;
          margin-left: 11px;
          line-height: 1;
          color:white;
        }

        .footerdiv{
            width:95%;
            height:100px;
            display:inherit;
            border-bottom:1px solid white;
        } 
        .footerdiv ul{
           padding:0;
        } 
        .para,.icons{
          margin:auto;
          padding-top:26px;
        } 
        .para p{
            font-size:21px;
         }
        .icons{
          width:50%;
          padding:0;
          margin-top:30px;                  
        }
        .icon7,.icon8,.icon9{
          margin-left:100px; 
          transform:scale(2.0);
        }        
      }
     
      
    
   
    





   
