*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container,.popup-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    /* background-color: #fff; */
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    overflow-x: hidden;
}
.left-content{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}
.leftcontent-body{
    padding: 0px 10px;
    text-align: justify;
}
.right-content{
    background-color: lightgrey;
}
button,.btn{
    padding: 2px 15px;
    cursor: pointer;
}
.btn{ 
    display: flex;
    width: 73px;
    background-color: #c3bfbf;
    padding: 6px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.popup-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    top: 0;
    align-items: baseline;
    justify-content: center;
    padding: 22px;
}
#demo:checked ~ .popup-container{
    display: flex;
}
#demo:not(:checked) ~ .popup-container{
    display: none;
}

.popup-box{
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 100px;
    background-color: #fff;
    padding: 0px 11px;
    gap: 13px;
}
.box-header{
    display: flex;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;   
}
.close-icon{
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#head-input{
    width: 100%;
    height: 50px;
    padding:0px 5px;
    outline: none;
    font-family: sans-serif;
    font-size: 13px;
}
#description-input{
    width: 100%;
    min-height: 50px;
    padding:5px 5px;
    outline: none;
    resize: vertical;
    font-family: sans-serif;
    font-size: 13px;
}
.box-footer{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: flex-end;
    gap: 11px
}
#demo{
    display: none;
}
.pop2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
}

