*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(61,61,77);
    color: white;
}
.main-page{
    display: grid;
    width: 100%;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.main-leftdv{
    box-shadow: 1px 0px 0px 0px lightgrey;
}
.main-leftdv,.main-rightdv{
    padding: 0px 15px;
}
.leftdv-header,.rightdv-header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;    
    justify-content: space-between;
}
#iput{
    width: 250px;
    height: 28px;
    background-color: transparent;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px;
}
.leftdv-body{
    display: flex;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 32px;
    flex-wrap: wrap;
    overflow: auto;
    padding: 10px 0px ;
}
.leftdv-body::-webkit-scrollbar {
    width: 4px;
}
.leftdv-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
}
.my-card{
    display: flex;
    flex-direction: column;
    width: 291px;
    height: 191px;
    padding: 19px 18px;
    gap: 56px;
    background-color: white;
    border: 1px solid lightgray;
}
.my-card:hover{
    box-shadow: -1px 0px 3px 0px #a5a5a5;
}
.text-dv{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#btn{
    width: 100%;
    height: 26px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 3px;
    cursor: pointer;
}
.amount,#btn{
    color: blue;
}
.rightdv-body{
    width: 100%;
    min-height: 150px;
}
.table-dv{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.tabel-header,.tabel-footer{
    display: flex;
    width: 100%;
    height: 30px;
}
.tabel-header1,.tabel-header2{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(241,241,241);
    border-bottom: 1px solid black;
}
.tabel-header1{
    border-right: 1px solid black;
}
.content-dv{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.content-text1,.content-text2,.total,.countvalue{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    padding-left:20px;
    border-right: 1px solid black;
}
.total,.countvalue{
    font-weight: bold;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 14px;
}
.tabel-footer{
    height: 60px;
}
.countvalue,.content-text2{
    border: none;
}