*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
}
.container{
    display: flex;
    flex-grow: 1;
}
.sideMenu-container{
    display: flex;
    width: 210px;
    flex-direction: column;
    border-right: 1px solid black;
}
.sidemenu-header,.sidemenu-footer{
    display: flex;
    margin: 25px 35px;
    align-items: center;
    gap: 8px;
}
.sidemenu-header > span{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.menuList-container{
    flex:1;
    overflow-y: auto ;
    padding: 0px 20px;
}
.menu-list{
    list-style: none;
    border-radius: 5px;
}
.menu-list:hover{
    background-color:lightgrey;
    transition: background-color 1s;
}
.menu-list > a{
    display: flex;    
    padding: 10px 15px;
    align-items: center;    
    gap: 7px;
}
.menu-list > a > span,.sidemenu-header > span,.sidemenu-footer > span{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    color: black;
}
a{
    text-decoration: none;
}
.active{
    background-color: black;
}
.active > a > span{
    color: white;
}
.list-icon{
    width: 24px;
    height: 24px;
    background-image: url(../images/groupIcons.png);
    background-size: 336px;
    flex-shrink: 0;
}
.invoice{
    background-position: 214px;
}
.dashboard{
    background-position: 192px;
}
.estimates{
    background-position: 166px;
}
.transection{
    background-position: 239px;
}
.product{
    background-position: 263px;
}
.team{
    background-position: 287px;
}
.setting{
    background-position: 311px;
}
.switch{
   background-position: 144px;
}
.sidemenu-footer{
    gap: 7px;
}
.main-dashboard{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.dashboard-header{
    display: flex;
    padding: 17px 20px;
}
.header-leftdv{
    display: flex;    
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.header-leftdv > h2{
    font-size: 20px;
}
.search-dv{
    display: flex;
}
.search-icon{
    width: 20px;
    height: 20px;
    background-image: url(../images/groupIcons.png);
    background-size: 242px;
    background-position: -154px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.search-dv > input{
    padding-left: 8px;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-dv > input::placeholder{
    color:rgb(172, 171, 171);
}
.header-rightdv{
    display: flex;
    gap: 13px;
    align-items: center;
}
.notification-icon{
    width: 28px;
    height:28px;
    background-color: #f5f5f5;
    border-radius: 20px;
    background-image: url(../images/notification.png);
    background-size: 16px;
    background-position: 6px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.profile-dv{
    display: flex;
    gap: 7px;
    cursor: pointer;
}
.profile-dv > a{
    font-size: 0;
}
.profile-dv > a > img{
     width: 35px;
     height: 35px;
}
.profile-detail{
   padding-top: 4px;
}
.profile-name{
    display: flex;
}
.profile-name > p{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.arrow{
    width: 15px;
    height: 15px;
    background-image: url(../images/groupIcons.png);
    background-position: 28px 2px;
    background-size: 192px;
    cursor: pointer;
}
.designation{
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    color: grey;
}
.mainContent-page{
    /* background-color: red; */
    flex: 1;
    overflow-y: auto;
    text-align: justify;
    padding: 10px 10px;
    padding-top: 5px;
    border-top: 1px solid lightgray;
}
