*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
}
.container{
    display: grid;
     grid-template-columns: 1fr minmax(auto,1275px) 1fr;
     grid-template-rows: 112px auto;
     background-color: rgb(248,248,248);
}
#dark-container{
    display: flex;
    position:fixed;
    width: 71px;
    height: 30px;
    background-color: red; 
    z-index: 2;   
    right:58px;
    top:48px;
    justify-content: center;
    visibility: hidden;
}
.Animation-container{
    width: 100%;
    height: 100vh;
    background-color:rgb(248,248,248);
    position: absolute;
    z-index: 2;
    display: none;
    overflow-y: hidden;
}
.Animation-image{
  width: 250px;
  height: 250px;
  background-image: url(../Images/Zicon.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-direction: alternate-reverse;
  animation-timing-function:ease-in-out;
}
@keyframes example{
  100%{width:350px;height:350px}
}
.loading-header{
    width: 100%;
    height: 3px;
}
.loading-dv{
    position: absolute;
    width: 1px;
    height: 3px;
    background-color: rgb(17,179,206);
    animation-name: loader;
    animation-duration: 3.5s;
}
@keyframes loader{
    100%{width: 100%}
  }
.bulb-menu{
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: rgb(17,179,206);
    margin-left: 757px;
    border-radius: 40px;
    margin-top: 32px;
    display: none;
}
.bulb{
    width: 28px;
    height: 28px;
    background-image: url(../../Images/zaskicon.svg);
    background-color: rgb(17,179,206);
    background-position: 27px -237px;
    margin: auto;
    margin-top: 28%;
    transform: scale(1.2);
}
.Header{
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
   }
.menu-icon{
    width: 253px;
    height: 47px;
    font-size: 51px;
    margin-top: 8px;
    line-height: 45px;
    display: none;
}
.Elementdv{
    display: flex;
    width: 99%;
    height:100%;
}
.icon{
    width: 35px;
    height: 43px;
    background-image: url(../Images/zaskicon.svg);
    background-repeat: no-repeat;
    background-position: -229px -192px;
    margin-top: 3px;
    background-size: 396px;
    cursor: pointer;
}
.Arrow{
    width: 22px;
    height: 42px;
    background-image: url(../Images/arrowicons.svg);
    background-position: -53px 18px;
    transform: scale(0.8);
    margin-left: 5px;
    background-size: 515px;
}
#button1{
    width: 121px;
    height: 34px;
    background-color: #2faff9;
    border-radius: 18px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-top: 7px;
    color: #ffffff;
    margin-left: 7px;
    border: none;
    cursor: pointer;
}
.list-dv{
    display: flex;
    width: 332px;
    height: 35px;
    line-height: 34px;
    font-size: 15px;
    margin-left: 6px;
}
#unique,#unique1,#unique2{
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 14px;
    line-height: 26px;
    margin-left: 5px;
    margin-top: 10px;
    color: #3e3e3e;
    cursor: pointer;
}
#unique:hover,#unique1:hover,#unique2:hover{
   border: 1px solid #06b3ce;
   color: #06b3ce;
}
.searchBox{
    display: flex;
    width: 20%;
    height: 34px;
    margin-top: 7px;
    background-color: #efefef;
    border-radius: 15px;
}
.searchIcon{    
    width: 36px;
    height: 34px;
    background-image: url(../Images/zaskicon.svg);
    background-position: 34px 2px;
    border-radius: 15px 0px 0px 15px;
    background-size: 361px;
}
#Iput{
    width: 87%;
    height: 34px;
    outline: none;
    border: none;
    background-color: #efefef;
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;
    margin-left: 10px;
}
.Avathaar{
    width: 36px;
    height: 36px;
    background-image: url(../Images/file.png);
    margin-left: 95px;
    margin-top: 7px;
    border-radius: 24px;
    background-size: cover;
}
.nav-Container{
    position: absolute;
    width:100vw;
    height: 636px;
    margin-top:46px;
    background-color: rgba(27, 26, 26, 0.253);
    display: none;
    z-index: 1;
}
.navigation-bar {
    width:200px;
    height: 636px;
    background-color:#ffffff;   
    border: 1px solid #dbdbdb;
}
.nav-header{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #efeeee;
    align-items: center;
}
.navheader-txt{
    width: 55px;
    height: 40px;
    text-align: center;
    line-height: 41px;
    font-weight: bold;
    color: #747474;
}
#cancelbtn{
    width: 46px;
    height: 19px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 14px;
    margin-left: 41px;
    border:1px solid #dbdbdb;
    color: #343434;
    cursor: pointer;
}
.iputdv{
    width: 75%;
    height: 20px;
    margin-top: 4px;
}
#darkTeme{
    cursor: pointer;
}
#dark-Cancel{
    margin: 0;
}
#applybtn{
    width: 46px;
    height: 19px;
    background-color: #06b3ce;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    border-radius: 14px;
    margin-left: 5px;
    color:white;
    border:none;
    cursor: pointer;
}
.cleardv{
    width: 100%;
    height: 30px;
}
.cleartxt{
    width: 68px;
    height: 30px;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-left: 132px;
    color: #06b3ce;
    cursor: pointer;
}
.bar1,.bar2,.bar3,.bar4,.bar5,.bar6,.bar7,.bar8,.bar9,.bar10{
    display: flex;
    width: 90%;
    height: 50px;
    margin-left: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.bartxt-1,.bartxt-2,.bartxt-3,.bartxt-4,.bartxt-5,.bartxt-6,.bartxt-7,.bartxt-8,.bartxt-9,.bartxt-10{
    width: 98px;
    height: 50px;
    font-size: 10px;
    line-height: 52px;
    color:#6c6c6c;
}
.baricon{
    width: 23px;
    height: 21px;
    background-image: url(../Images/zaskicon.svg);
    margin-left: 40px;
    background-position: -97px -1px;
    margin-top: 13px;
}
.barArrow{
    width: 18px;
    height: 15px;
    background-image: url(../Images/arrowicons.svg);
    background-position: -41px 0px;
    transform: scale(0.8);
    margin-top: 16px;
}
.subcontainer{
    display: grid;
    grid-template-columns: 1fr minmax(auto,1275px) 1fr;
    grid-column: 1/4;
    grid-row: 1/2;
    background: url(../Images/Zbackground.png)fixed;
    background-position: -24px -4px;
}
.subtext{
    grid-column: 2/3;
    width:30%;
    height: 30px;
    margin-top: 63px;
}
.subcontainer p{
    font-weight: bold;
    font-size: 24px;
    color: rgb(19,198,229);
}
.contentdv{
    display: flex;
    width: 16%;
    height: 45px;
    margin-left: 37px;
    border-right: 1px solid #efecec;
    margin-top: 2px;
}
.content1,.content3{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 13px;
    line-height: 50px;
}
.content2,.content4,.content6{
    width: 11px;
    height: 10px;
    background-color: yellow;
    margin-left: 15px;
    margin-top: 21px;
    border-radius: 6px;
}
.content4{
    background-color: grey;
}
.content6{
    background-color: chocolate;
}
.content5,.content7{
    width:25px;
    height:35px;
    text-align: center;
    font-size: 13px;
    line-height: 50px;
}
.trible-icons{
    display: flex;
    width:9%;
    height:50px;
}
.icon1,.icon2,.icon3{
    width: 38px;
    height: 46px;
    background-image: url(../Images/zaskicon.svg);
    background-position: 213px -311px;
    margin-top: 1px;
    border-right: 1px solid #efecec;
    background-size: 422px;
    cursor: pointer;
}
.icon2{
    background-image: url(../Images/zaskicon.svg);
    background-position: -70px -345px;
}
.icon3{
    background-image: url(../Images/zaskicon.svg);
    background-position: 106px -65px;
}
.maincontainer{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 2fr 50px 1fr;
}
.left-container{
    width: 100%;
}
.right-container{   
    grid-column: 3/4;
}
.right-dv{
    width: 32%;
    position: fixed;
}
.headdv{
    display: flex;
    width: 97%;
    height: 107px;
    position: sticky;
    top:36px;
    background-color: rgb(248,248,248);
}
.secondary-dv{
    width: 100%;
}
.btn-container{
    display:flex;
    width: 82%;
    height: 41px;
    margin-top: 38px;
    justify-content: space-between;
}
.textdv{
    width: 145px;
    height: 31px;
    line-height: 28px;
    margin-top: 41px;
}
.textdv p{
    font-weight: bold;
    font-size: 27px;
    color: #11b8d5;
}
.button2{
    display: flex;
    width: 103px;
    height: 37px;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 5px 0px #c5c5c5;
    cursor: pointer;
}
.button3{
    display: flex;
    width: 162px;
    height: 38px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px 0px #c5c5c5;
    border: 1px solid #dbdbdb;
    cursor: pointer;
}
.btnicon{
    width: 29px;
    height: 35px;
    background-image: url(../Images/zaskicon.svg);
    background-position: 187px -179px;
    background-size: 366px;
    margin-left: 5px;
}
#btn{
    width: 55px;
    height: 25px;    
    font-size: 16px;
    border: none;
    background-color: #f9f7f7;
    cursor: pointer;
    margin-top: 5px;
}
.btnicon1{
    width: 30px;
    height: 29px;
    background-image: url(../Images/zaskicon.svg);
    background-position: 27px 98px;
    background-size: 283px;
    margin-top: 3px;
    margin-left: 4px;
}
.button2:hover,#btn:hover,.button3:hover{
    background-color: #ffffff;
}
.txt{
    width: 102px;
    height: 27px;
    line-height: 38px;
    font-size: 17px;
    color: #464646;
    margin-left: 3px;
}
.Arrowicon{
    width: 17px;
    height: 24px;
    background-image: url(../Images/arrowicons.svg);
    background-position: -42px 10px;
    margin-top: 3px;
}
.dvtable-1{
    display: flex;
    width: 97%;
    height: 147px;
    border: 1px solid #dbdbdb;
}
.dvtable-2,.dvtable-3,.dvtable-4,.dvtable-5,.dvtable-6,.dvtable-7,.dvtable-8,.dvtable-9,.dvtable-10{
    display:flex;
    width: 97%;
    height: 147px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
}
.demo1,.demo3,.demo5{
    display: flex;
    flex-direction: column;
    width: 70px;
    height:145px;
}
.demo2,.demo4,.demo6{
    width: 92%;
    height: 144px;
    background-color: white;
    margin-left: 1px;
}
.demo4,.demo6{
    width: 92%;
    height: 144px;
    background-color: rgb(232,242,248);
}
.item1,.item2,.item3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.valuedv{
    width: 100%;
    height: 23px;
    text-align: center;
    font-size: 12px;
}
.scoredv{
    width: 100%;
    height: 24px;
    text-align: center;
    font-weight: bold;
}
.item4,.item5,.item6{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.item3,.item6{
    border-bottom: none;
}
.demo2 p,.demo4 p,.demo6 p{
    font-size: 14px;
    padding-left: 14px;
}
.demo2 h4,.demo4 h4,.demo6 h4{
    margin-left:13px;
    line-height:35px;
    margin-top:10px;
}
.bottomdv{
    display: flex;
    width: 100%;
    height: 59px;
}
.bottomdv1{
    display: flex;
    width: 100%;
    height: 59px;
    margin-top: 16px;
}
.txtbutton,.txtbutton1,.txtbutton2{
    width: 55px;
    height: 23px;
    background-color:#eef9fb;
    border-radius: 12px;
    margin-left: 8px;
    margin-top: 30px;
}
.txtbutton p,.txtbutton1 p,.txtbutton2 p{
   font-size: 10px;
   line-height: 21px;
   text-align: center;
   padding:0;
}
.txtlink,.txtlink1,.txtlink2{
    width:82%;
    height:59px;   
}
.txtlink p,.txtlink1 p,.txtlink2 p{
    margin-top: 38px;
    font-size: 10px;
    color: #525252;
    text-align: end;
}
.icon4,.icon5{
    width: 45px;
    height: 45px;
    background-image: url(../Images/file.png);
    border-radius: 32px;
    margin-top: 11px;
    background-size: contain;
    margin-left: 13px;
}
.txtbutton1{
    width: 45px;
}
.txtlink1{
    width: 84%;
}
span{
    color: #11b8d5;
}
.floatdv{
    display: flex;
    width: 100%;
    height: 100px;
}
.count{
    width: 35px;
    height: 31px;
    font-size: 18px;
    line-height: 31px;
    font-weight: bold;
    margin-top: 28px;
    color: #4e5254;
}
.concept{
    width: 81px;
    height: 31px;
    font-size: 13px;
    line-height: 32px;
    margin-top: 28px;
}
.float-Btn{
    display: flex;
    width: 70%;
    height: 46px;
    justify-content: space-between;
    margin-top: 20px;
}
#subscribeBtn{
    width: 66px;
    height: 24px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    line-height: 18px;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    margin-top: 10px;
}
#questionBtn{
    width: 138px;
    height: 47px;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    border-radius: 23px;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(#58bffa,#21a5f2);
    box-shadow: 0 4px 4px rgb(47 175 249 / 30%);
}
.tags1,.tags2{
    width: 100%;
    height:100px;
    background-color:white;
    border: 1px solid #dbdbdb;
}
.tags2{
    margin-top: 11px;
}
.tags1:hover,.tags2:hover,.dvtable-1:hover,.dvtable-2:hover,
.dvtable-3:hover,.dvtable-4:hover,.dvtable-5:hover,.dvtable-6:hover,
.dvtable-7:hover,.dvtable-8:hover,.dvtable-9:hover,.dvtable-10:hover{
    box-shadow: 0px 0px 5px 0px #c5c5c5;
}
.part1,.part4{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 11px;
}
.slide{
    width: 149px;
    height: 50px;
}
.slide p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 25px;
    color: #4e5254;
}
.edittxt{
    width:55px;
    height:50px;
}
.edittxt p{
    font-size: 16px;
    margin-top: 23px;
    color: #11b8d5;
    font-weight: bold;
}
.clickbutton1,.clickbutton2,.clickbutton3,.clickbutton4,.clickbutton5{
    width: 50px;
    height: 19px;
    background-color: #eef9fb;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 26px;
    margin-top: 20px;
    line-height: 18px;
    font-weight: bold;
}
.clickbutton2,.clickbutton3,.clickbutton4{
    margin-left: 4px;
}
.clickbutton5{
    margin-top: 3px;
}
.ignorebutton1,.ignorebutton2,.ignorebutton3,.ignorebutton4{
    width: 86px;
    height: 20px;
    background-color: #eef9fb;
    margin-left: 26px;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    margin-top: 20px;
    line-height: 18px;
    font-weight: bold;
}
.ignorebutton2{
    width: 40px;
    height: 20px;
    background-color: #eef9fb;
    margin-left: 4px;
}
.ignorebutton3{
    width: 50px;
    height: 20px;
    background-color: #eef9fb;
    margin-left: 4px;
}
.ignorebutton4{
    width: 60px;
    height: 20px;
    background-color: #eef9fb;
    margin-left: 4px;
}
.ignorebutton5,.ignorebutton6,.ignorebutton7,.ignorebutton8{
    width: 50px;
    height: 21px;
    background-color: #eef9fb;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    margin-left: 26px;
    margin-top: 3px;
    line-height: 22px;
    font-weight: bold;
}
.ignorebutton6,.ignorebutton7,.ignorebutton8{
    margin-left: 4px;
}
.ignorebutton7{
    width: 60px;
}
.ignorebutton8{
    width: 77px;
}
@media  screen and (max-width:1100px){
     .container,.subcontainer{
        grid-template-columns: 1fr minmax(auto,1000px) 1fr;
     }
     .txtbutton2{
       margin-top: 14px;
     }
     .txtlink2 p{
        margin-top: 21px;
     }
     .icon5{
       margin-top:0;
     }
     .right-dv{
         width: 30%;
     }
     .float-Btn{
        width: 63%;
     }
     #questionBtn{
         width: 110px;
         height: 43px;
         font-size: 13px;
     }
     .Elementdv{
         width: 94%;
     }
}
@media  screen and (max-width:900px){   
    .maincontainer{
        grid-template-columns: 1fr;
    }
    .right-container{
        display: none;
    }
    .dvtable-1{
       width: 100%;
    }
    .dvtable-2,.dvtable-3,.dvtable-4,.dvtable-5,.dvtable-6,.dvtable-7,.dvtable-8,.dvtable-9,.dvtable-10{
        width: 100%;
    }
    .headdv{
      width: 100%;
    }
    .btn-container{
        width: 84%;
    }
    .container,.subcontainer{
        grid-template-columns: 1fr minmax(auto,854px) 1fr;
    }
    .icon,.Arrow,#button1,.list-dv,.Avathaar,.contentdv{
        display: none;
    }
    .searchBox{
        width: 47%;
    }
    .Elementdv{
        width: 68%;
        justify-content: space-between;
    }
    .menu-icon{
        width: 311px;
        height: 47px;
        font-size: 37px;
        line-height: 36px;
        display: block;
    }
    .trible-icons{       
        width: 20%;
    }
    .bulb-menu{
        position: fixed;
        width: 85px;
        height: 85px;
        background-color: rgb(17,179,206);
        bottom: 10px;
        right: 10px;
        border-radius: 61px;
        z-index: 2;
        display: block;
    }
    .bulb{
        width: 30px;
        height: 30px;
        background-image: url(../Images/zaskicon.svg);
        background-position: 28px -237px;
        margin: auto;
        margin-top: 34%;
        transform: scale(1.5);
    }
}




