*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
}
.container{
    display: flex;
    flex-grow: 1;
}
.menu-container{
    display: flex;
    flex-direction: column;
    width: 225px;
    border-right:1px solid #ededed;
}
.menu-header{   
    margin:16px;
    font-size: 0;
}
.menu-list1{
    flex:1;
    overflow-y: auto;
}
.menu-list2{
    border-bottom: 1px solid #ededed;
    padding-bottom: 13px;
}
.menu-list1 > li,.menu-list2 > li{
    list-style: none;
}
.menu-list1 > li > a,.menu-list2 > li > a{
    display: flex;
    padding: 6px 18px;
    gap: 8px;   
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.menu-list1 > li > a > span,.menu-list2 > li > a > span{
    font-size: 13px;
    align-items: center;
    color: #727171;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}
.menu-icon{
    width: 20px;
    height: 20px;
    /* background-color: lightpink; */
    background-image: url(../images/Frame.png);
    background-size: 247px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.active{
    background-color: rgb(251,248,242);
    box-shadow: 3px 0px 0px 0px #e89c35 inset;
}
.menu-list1 > .active > a > span{
    color: black;
}
.home{
   background-position:0px 1px ;
}
.product{
    background-position:-19px 1px;
}
.document{
    background-position: -38px 1px;
}
.analytics{
    background-position: -55px 1px;
}
.setting{
    background-position: -76px 1px;
}
.notification{
    background-position: -95px 1px;
}
.search{
    background-position: -113px 1px;
}
.menu-footer{
    display: flex;
    margin: 13px 16px;
    text-decoration: none;
    align-items: center;
    font-family: sans-serif;
    gap: 10px;
}
.profile-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* background-color: red; */
}
.profile-name{
    font-size: 13px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.designation{
    font-size: 11px;
    color: #727171;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.down-arrow{
   background-size: 221px;
    background-position: -118px 4px;
}
.main-dashboard{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
}
.header{
    display: flex;
    padding: 10px 20px;
    gap: 12px;
    align-items: center;
}
.header > .back-btn{
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: #727171;
}
.left-arrow{
    background-size: 205px;
    background-position: -123px 2px
}
.header > a > .previous{
    font-family: sans-serif;
    font-size: 14px;
}
.bread-crumb{
    display: inline-flex;
    border-left: 1px solid lightgrey;
    padding-left: 12px;
    white-space: nowrap;
    flex-grow: 1;
    color: #999898;
}
.bread-crumb > li{
    font-family: sans-serif;
    font-size: 14px;
    list-style: none;
}
.bread-crumb li+li::before{
    padding: 7px;
    content: "/\00a0";
    color: #a3a0a0;
}
.bread-crumb > li > a{
    text-decoration: none;
    color: #a3a0a0;
}
.bread-crumb > li:last-child > a{
    color: black;
}
.view-type{
    display: flex;
    background-color: #e4e4e7;
    gap: 1px;
    padding: 1px;
    border-radius: 4px;
    align-items: center;
}
.list-view,.row-view{
    width: 28px;
    height: 28px;
    background-image: url(../images/Frame.png);
    background-size: 274px;
    background-repeat: no-repeat;
}
.list-view{
    background-position: 4px -19px;
    border-radius: 2px 0px 0px 2px;
    background-color: white;
}
.row-view{
    background-position: -250px 3px;
    border-radius: 0px 2px 2px 0px;
    background-color: #FBF8F2;
}
#create-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    background-color: rgb(234,154,1);
    color: white;
    cursor:pointer;
}
.add-icon{
    background-position: -56px -19px;
}
.dashboard-contentpage{
    display: flex;
    flex: 1;
    border-top: 1px solid #ededed;
    overflow-y: hidden;
}
.contentpage-filtermenu{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 1px solid #ededed;
}
.filtermenu-header{
    display: flex;
    margin: 18px 12px;
    justify-content: space-between;
    text-decoration: none;
}
.filtermenu-header > h3{
    font-family: sans-serif;
    font-size: 16px;
    color: #6c6b6b;
}
.enter-icon{
    background-position: -170px 0px;
    cursor: pointer;
}
.filtermenu-sublistcontainer{
    padding: 0px 12px;
    flex: 1;
    overflow-y: auto;
    /* background-color: pink; */
}
.filter-search{
    display: flex;
    padding: 8px;
    border: 1px solid #ededed;
    border-radius: 7px;
}
.filter-searchicon{
 background-position: -114px 0px;
}
.filter-search > input{
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 8px;
    font-size: 14px;
    flex-grow: 1;
}
.tag-search,.owner-search{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 7px;
    font-family: sans-serif;
    font-size: 15px;
}
.tag-search > input,.owner-search > input{
    border: 1px solid #ededed;
    background-color: transparent;
    outline: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 7px;
}
.status{
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 10px;
}
.filter-list1,.filter-list2,.filter-list3{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 16px 0px;
}
.individual-list2{
    flex-direction: column;
    align-items:inherit !important
}
.filter-list3{
    padding: 0px;
    padding-left: 56px;
    padding-top: 15px;
}
.filter-list1 > li{
    display: flex;
    gap: 10px;
}
.filter-list1 > li,.filter-list2 > li{
    list-style: none;
    align-items: center;
}
.filter-list1 > li > label,.filter-list2 > li > span,.individual-list2 > span,#individual-list,.filter-list3 > li{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
} 
.filter-list1 > li > input,.filter-list2 > li > span > input,.filter-list3 > li  > input,.individual-list2 > span > input,#individual-list > input{
    width: 18px;
    height: 18px;
    cursor: pointer;
    flex-shrink: 0;
}
.filter-list1 > li > input:not(:checked),
.filter-list2 > li > span > input:not(:checked),
.filter-list3 > li > input:not(:checked),
#individual-list > input:not(:checked),
.individual-list2 > span > input:not(:checked){
    appearance: none;
    border: 1px solid #e3e3e3;
    border-radius: 3px
}
.list-text,.count{  
    font-family: sans-serif;
    font-size: 14px;
}
.list-text{
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
#list3-iput,#designlist-iput,#sublist-iput{
    height: 0;
}
#list3-iput:checked ~ .filter-list3,#designlist-iput:checked ~ .design-list,#sublist-iput:checked ~ .userneeds-sublist{
      height: 0;
      overflow: hidden;
}
#sublist-iput:checked ~ .userneeds-sublist{
    padding: 0;
}
#list3-iput:checked ~ label > i,#designlist-iput:checked ~ label > span > i,#sublist-iput:checked ~ label > span > i{
    background-position: -88px -14px
}
.count{
    padding: 2px 6px;
    background-color: #f0f0f0;
    border-radius: 10px;
    cursor: auto;
}
.filter-components{
    display: flex;
    gap: 6px;
    align-items: center;
    padding-top: 10px;
}
.component-icon{
    width: 24px;
    height: 24px;
    background-image: url(../images/Frame.png);
    background-size: 300px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-position: -231px 1px;
}
.filter-components > span{
    font-family: sans-serif;
    font-size: 15px;
}
#individual-list{
    padding-left: 28px;
}
.dropdown-label{
    display: flex;
    cursor: pointer;
}
.dropdown-arrow{
    width: 18px;
    height: 18px;
    background-image: url(../images/Frame.png);
    background-repeat: no-repeat;
    background-size: 195px;
    background-position: -164px 2px;  
    flex-shrink: 0; 
}
.demo {
    padding: 0px 14px;
    overflow-y: auto;
}
.demo > li{
   list-style: none;
}
.content-rightpage{
    flex-grow: 1;
    padding: 20px;
    background-color:#F6F6F6;
    overflow-y: auto;
}
.contentrightpage-list1 > li,.contentrightpage-list2 > li{
    list-style: none;
}
.user-needs,.requirements{
    display: flex;
    font-family:  sans-serif;
    align-items: center;
    cursor: pointer;
}
.user-needs > label{
    display: flex;
    flex-grow: 1;
    gap:7px;
    align-items: center;
    cursor: pointer;
}
.user-txt{
    font-weight: bold;
}
.user-count{
    background-color: white;
    border-radius: 10px;
    padding: 1px 6px;
    font-size: 13px;
    border: 1px solid #ededed;
}
.arrow1{
    background-position: -104px 2px;
}
.plus{
    background-position: -16px -16px;
    background-size: 216px;
}
.userneeds-sublist,.design-sublist,.design-sublist2{
    display: flex;
    flex-direction: column;
    padding: 21px 0px;
    gap: 1px;
}
.userneeds-sublist > li,.design-sublist > li,.design-sublist2 > li{
    display: flex;
    list-style: none;
    background-color: white;
    font-family: sans-serif;
    align-items: center;
    gap:5px;
    padding:10px;
    padding-right: 5px;
}
.userneeds-sublist > li:first-child,.design-sublist > li:first-child,.design-sublist2 > li:first-child{
    border-radius: 7px 7px 0px 0px;
}
.userneeds-sublist > li:last-child,.design-sublist > li:last-child,.design-sublist2 > li:last-child{
    border-radius: 0px 0px 7px 7px;
}
.labeling{
   display: flex;
   font-size: 13px;
   align-items: center;
   gap: 5px;
   flex-grow: 1;
}
.labeling-icon{
    background-position: -190px 0px;
}
.standards{
    display: flex;
    font-size: 14px;
    color: black;
    flex-grow: 1;
}
.standards-txt{
    color: #727171;
    flex-shrink: 0;
}
.standard-txt2{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap ;
} 
.standards span+span::before{
    content: "/\00a0";
    color: #727171;
    padding: 0px 4px;
}
.label-user{
    font-size: 0;
    padding:0px 4px;
}
.label-option{
    display: flex;
}
.connectivity{
    display: flex;
    gap: 3px;
    padding: 0px 7px;
    align-items: center;
}
.connectivity > span{
    font-size: 14px;
    color: #727171;
}
.connect-icon{
    background-position: -98px -25px;
    background-size: 307px
}
.connect-icon2{
    background-position: -95px -19px;
}
.connect-icon3{
    background-position: -37px -18px;
}
.label-option span+span{
    border-left: 1px solid #ededed;
}
.requirements{
    gap: 5px;
}
.requirements-txt{
    font-size: 11px;
    font-weight: bold;
    color: #727171;
}
.design-list{
    padding-top: 20px;
}

